*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    color: #eee;
}

html, body{
    width: 100%;
    min-height: 100%;
}

body *{
    display: flex;
    flex-direction: column;
    align-items: center;
}

script{
    display: none;
}

img{
    width: 100%;
    height: auto;
}

:root{
    --img-width: 300px;
    --img-width-temps: 15px;
}

body{
    color: #eee;
    background: #222;
}

body .center-container{
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

header{
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    padding: 0 30px;
}

header nav ul{
    flex-direction: row;
}

header nav ul li{
    padding: 10px;
    margin-right: 10px;
    color: #ddd;
    transition: .2s;
}

header nav ul li:hover{
    color: #fff;
}

main{
    padding: 20px;
  
}

main #inicio{
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}

main #inicio #circles, main #circles *{
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 50%;
}

main #inicio #circles #circle-1{
    width: calc(var(--img-width) + var(--img-width-temps) * 3);
    height: calc(var(--img-width) + var(--img-width-temps) * 3);
    background-color: #3F3F3F;
}

main #inicio #circles #circle-2{
    width: calc(var(--img-width) + var(--img-width-temps) * 2);
    height: calc(var(--img-width) + var(--img-width-temps) * 2);
    background-color: #4F4F4F;
}

main #inicio #circles #circle-3{
    width: calc(var(--img-width) + var(--img-width-temps));
    height: calc(var(--img-width) + var(--img-width-temps));
    background-color: #6C6C6C;
}

main #inicio #circles #circle-4{
    width: var(--img-width);
    height: var(--img-width);
    background-color: #222;
}

main #inicio .contents{
    padding: 20px;
    align-items: flex-start;
}

main #inicio .contents h2, main #inicio .contents p{
    margin-bottom: 20px;
}

main #sobre{
    align-items: flex-start;
    justify-content: flex-start;
}

main #projects{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

main #projects h2.title{
    width: 100%;
    display: block;
}

main #projects .project{
    align-items: flex-start;
    max-width: 470px;
    position: relative;
    margin: 10px;
    /* cursor: pointer; */
    transition: .2s;
}



main #projects .project .description{
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    overflow: hidden;
    align-items: flex-start;
    max-width: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: small;
    font-weight: 100;
    background-color: #0007;
    transition: .3s;
}
main #projects .project .description p{
    display: none;
}

main #projects .project:hover .description{
    border: solid 1px #fff7;
    height: 100%;
    background-color: #000d;
}

main #projects .project:hover .description p{
    display: flex;
}
