.title{
    margin-bottom: 10px;
}

#games-list{
    margin: 20px 0;
}

#games-list .game{
    padding: 20px 30px;
    border-radius: 30px;
    border: solid 1px var(--dark-white);
}

#games-list .game:hover{
    background-color: var(--dark-white);
    border: solid 1px var(--grey);
}